# DIR_BASE is defined in builder.sh
DIR_BIN="$DIR_BASE/bin"
DIR_CONF="$DIR_BASE/conf"
DIR_TOOLS="$DIR_BASE/tools"
DIR_REPO="$DIR_BASE/repo"
DIR_CACHE="$DIR_BASE/cache"
DIR_LOG="$DIR_BASE/log"

DIR_JDK="$DIR_TOOLS/jdk"
DIR_ANT="$DIR_TOOLS/ant"
DIR_IVY="$DIR_TOOLS/ivy"


FILE_DATABASE="$DIR_CONF/builder.db"
FILE_LOG="$DIR_LOG/$DATE.log"
FILE_PID="$DIR_BASE/builder.pid"


if uname | grep -i "cygwin" > /dev/null
then
	OS="cygwin"
fi


if [ -d "$DIR_JDK" ]
then
	export JAVA_HOME="$DIR_JDK"
fi


get_timestamp()
{
	DATE=`date +'%Y%m%d'`
	TIME=`date +'%H%M%S'`
	TIMESTAMP="$DATE$TIME"
	
	if [ "$1" = "date" ]
	then
		echo "$DATE"
		return 0
	elif [ "$1" = "time" ]
	then
		echo "$TIME"
		return 0
	fi
	echo "$TIMESTAMP"
}

echolog()
{
	logmsg="`get_timestamp date`.`get_timestamp time` >>> $1"
	echo "$logmsg"
	echo "$logmsg" >> "$FILE_LOG"
}
